/*Global*/
:root {
  /*Color*/
  --color-white: #ffffff;
  --color-dark-white: #fafafa;
  --color-sliver: #f5f7f9;
  --color-blue: #92d1e5;
  --color-dark-blue: #79bacf;
  --color-light-blue: #c8eefa;
  --color-light-grey: #e1e1e1;
  --color-grey: #757575;
  --color-yellow: #e4e8c5;
  --color-light-beige: #faf1e4;
  --color-begie: #e8e0c3;
  --color-dark-beige: #b8ac8a;
  --color-green: #0aa885;
  --color-dark-green: #0b8560;
  --color-light-black: #34323f;
  --color-black: #000000;
  /*Font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /*Font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /*size*/
  --size-border-radius: 4px;
  /*Animation duration*/
  --animation-duration: 300ms;
}
/*Universal tag*/
* {
  box-sizing: border-box;
}

body {
  padding-left: 300px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
  height: 100vh;
  background-image: url("img/bg.png");
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 10px 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  grid-gap: 15px;
  padding: 2.5rem 0 1rem;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*Navbar*/
#navbar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue);
  align-items: flex-start;
  color: var(--color-black);
  padding: 16px;
  cursor: pointer;
  z-index: 2;
}

.navbar__logo {
  display: flex;
  align-items: center;
}
.logo {
  filter: brightness(2);
  width: 40px;
  height: 50px;
}
.logo__text {
  color: var(--color-white);
  margin-top: 12px;
  margin-left: 20px;
  font-size: 26px;
}

.navbar__menu {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 25px 0 0 10px;
  width: 100%;
}

.navbar__menu__item:not(.expandable):hover,
.navbar__menu__item:not(.expandable).selected,
.item__list:hover,
.item__list.selected {
  background-color: var(--color-dark-blue);
}

.item__list {
  display: flex;
  justify-content: space-between;
}
.item__list_lists {
  color: var(--color-grey);
}

.item__list_lists li {
  display: flex;
  align-items: center;
}
.item__list_lists span {
  padding-left: 10px;
}
.item__list_pic {
  width: 40px;
  height: 40px;
}

/*island*/
.island {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.island__container {
  width: 900px;
  height: 400px;
}
.island__title {
  display: flex;
  justify-content: center;
  align-content: center;
}
.island__villagers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.island__villager {
  width: 150px;
  margin: 10px;
}
.island__villager h3 {
  text-align: center;
}
.island__villager div {
  background-color: var(--color-yellow);
  width: 100%;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.island__villager img {
  width: 120px;
  height: 120px;
}

/*Villagers*/
.villagers__categories {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.villagers__btn {
  background-color: var(--color-sliver);
  border-radius: 20px;
  color: var(--color-black);
  font-weight: bold;
  font-size: medium;
  margin-right: 5px;
  padding: 2px 7px;
}

.villager {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  padding-right: 5px;
  text-shadow: rgb(0 0 0 / 35%) -1px 1px 0;
}
.villager__honeBtn {
  position: absolute;
  right: 10px;
  color: var(--color-light-grey);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  border: solid 1px var(--color-light-grey);
  cursor: pointer;
}

.villager__honeBtn:hover {
  transform: scale(1.1);
  transition: all ease-in 200ms;
  color: var(--color-grey);
}
.homeBtn_stored {
  color: var(--color-dark-blue);
}

.villager img {
  width: 50px;
  height: 50px;
  margin: 6px 8px;
}
.villager span {
  padding: 0 4px;
}
.villager__container {
  background-color: var(--color-blue);
  border-radius: 10px;
}

.villager__description {
  background-color: var(--color-sliver);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
}
.villager__description img {
  width: 240px;
  height: 240px;
  margin: 6px 8px;
}
.villager__description__specific {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.villager__description__specific > div {
  display: flex;
  justify-content: space-between;
}

.villager__description__specific > div :first-child {
  background-color: var(--color-blue);
  border-radius: 5px;
  width: 120px;
  height: 30px;
  margin: 4px;
  text-align: center;
  color: var(--color-white);
  font-weight: 600;
  padding: 5px;
  font-size: 16px;
}
.villager__description__specific > div :last-child {
  background-color: var(--color-white);
  border-radius: 5px;
  width: 180px;
  height: 30px;
  margin: 4px;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 16px;
  border: solid 1px var(--color-light-grey);
}
.villager__catch_phrase :last-child {
  background-color: var(--color-green);
  position: absolute;
  top: 27px;
  left: 236px;
  width: 105px;
  height: 36px;
  border-radius: 10px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.villager__toggle-btn {
  position: fixed;
  right: 25px;
  bottom: 30px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catch_phrase_bubble {
  width: 12px;
  height: 12px;
  background-color: var(--color-green);
  transform: rotate(27deg) skewX(5deg);
  position: absolute;
  top: 48px;
  left: 233px;
}

/*encyclopedia , Collection*/

.encyclopedias__categories,
.collection__categories {
  background-color: var(--color-dark-blue);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.encyclopedias__categories h3,
.collection__categories h3 {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  text-shadow: rgb(0 0 0 / 35%) -1px 1px 0;
  padding: 3px 0;
}

.encyclopedias__img,
.collection__img {
  background-color: var(--color-sliver);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encyclopedias__img img,
.collection__img img {
  width: 90px;
  height: 90px;
}

.encyclopedia__info__categories,
.collection__info__categories {
  background-color: var(--color-sliver);
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
}
.encyclopedia__info__categories > div,
.collection__info__categories > div {
  display: flex;
  justify-content: space-between;
}

.encyclopedia__info__categories > div > div:first-child,
.collection__info__categories > div > div:first-child {
  background-color: var(--color-blue);
  border-radius: 5px;
  width: 120px;
  height: 35px;
  margin: 3px;
  text-align: center;
  color: var(--color-white);
  font-weight: 600;
  padding: 5px;
  font-size: 16px;
}

.encyclopedia__info__categories > div > div:last-child,
.collection__info__categories > div > div:last-child {
  background-color: var(--color-white);
  border-radius: 5px;
  width: 180px;
  height: 35px;
  margin: 3px;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 16px;
  border: solid 1px var(--color-light-grey);
}
.collection__info__categories > div > div:last-child {
  display: flex;
  align-items: center;
}
.collection__info > div > img {
  width: 25px;
  height: 25px;
}
.collection__info > div > span {
  margin-left: 5px;
}
/*hide*/
.invisible {
  display: none;
}
